.admin-ed-container {
    width: 100%;
}




.admin-edit-account {
    padding: 40px;
    box-sizing: border-box;
}


.profile-form p {
    margin: 0;
    line-height: 5px;
    font-weight: bold;
}

.profile-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 20px;
}


.avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: #bbb;
    border-radius: 50%;
}

.profile-container {
    padding: 2rem;
    margin: 0 auto;
    width: 1000px;

}

.profile-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;

}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.profile-table {
    border-collapse: collapse;
    width: 400px;
    height: 200px;
}

.profile-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
}


.aed-profile-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.aed-profile-form p {
    font-weight: bold;
}

.aed-form {
    display: flex;
    gap: 1rem;
}

.name-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}



.aed-profile-form input {
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: #d9d9d9;
}

.form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.editsave-btn {
    font-weight: bold;
    background-color: #f88800;
    color: black;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
}


.cancel-btn {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
}